h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 2px 3px grey;
    color: white;
}

p {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: black;
}

h2 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 2px 3px;
    color: white;
}

h3 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: white;

}

ul {
    font-family: 'Poiret One', cursive;
    font-size: small;
}

#mouse {
    margin-bottom: -280px;
}

#name {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: white;
}

/* div {
    background-image: url('img_girl.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
} */
.container-fluid {
    background-image: url('../IP3/assets/backgrounds/h_img.jpg');
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15%;
    overflow: hidden;

}

.container-fluid h1 {
    margin: 2%;
}

#services {
    background-image: url('../IP3/assets/backgrounds/s_image.jpg');
    height: 250px;
    padding: 50px;
    color: white;
    width: 100%;
    overflow: hidden;

}

.servicetext {
    color: white;
}

ul {
    padding: 20px;
    text-align: center;
}

.list1 {
    text-align: center;
    margin: 0%;

}

#porfolio {
    height: 500px;

}

#contactform {
    height: 350px;
    background-image: url('../IP3/assets/backgrounds/s_image.jpg');
    padding: 50px;
    overflow: hidden;
}

#Email {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: whitesmoke;
}

#largeinput {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    opacity: 100%;
}

.row {
    margin: 2%;
}

#footer {
    align-items: center;
    margin: 5%;
    padding-left: 350px;
}

.designparagraph {
    display: none;
}

.productparagraph {
    display: none;
}

.devparagraph {
    display: none;
}

/* #image1{
 

}
#image2{


}
#image3{
  
} */
#design {
    display: none;
    text-align: center;
}

#development {
    display: none;
    text-align: center;
}

#productmanagement {
    display: none;
    text-align: center;
}

#header {
    font-family: 'Poiret One', cursive;
    font-size: 15px;
    color: black;
}

#header1 {
    font-family: 'Poiret One', cursive;
    font-size: 15px;
    color: black;
    margin-left: -20px;
}

#header2 {
    font-family: 'Poiret One', cursive;
    font-size: 15px;
    color: black;
    margin-left: -40px;
}

input[type=text] {
    width: 96%;
    padding: 40px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    background-color: transparent;
    margin: 25px;
}

#name {
    box-sizing: border-box;
    border: 2px solid whitesmoke;
    border-radius: 4px;
    background-color: transparent;
}

#Email {
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    background-color: transparent;
}

::-webkit-input-placeholder {
    color: whitesmoke !important;
}
#whatwedo{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 2px 3px;
    color: black;
}
img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); 
  }