h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 2px 3px grey;
    color: white;
    padding: 150px;
}

p {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: black;
}

h2 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 2px 3px;
}

h3 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: white;

}

ul {
    font-family: 'Poiret One', cursive;
    font-size: small;
}

#name {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: black;
}

div {
    background-image: url('img_girl.jpg');
    background-size: 100%;
}
#welcome{
    background-image: url('/IP3/assets/backgrounds/h_img.jpg');
    height: 550px;
    width: 100%;
}
#services{
    background-image: url('/IP3/assets/backgrounds/s_image.jpg');
    height: 250px;
    padding: 50px;
    color: white;
    width: 100%;
}
.servicetext{
    color: white;
}
#whatwedo{
    height: 300px;
}
ul{
    padding: 20px;
    text-align: center;
}
.list1{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
#porfolio{
    height: 500px;
}
#contactform{
    height: 350px;
    background-image: url('/IP3/assets/backgrounds/c_image.jpg');
    color: white;
    padding: 50px;
}
#Email{
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: black;
}
#largeinput{
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    color: black;
    height: 100px;
}
